{% load static %}

<div class="product-delete-body">
    <a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		<b>{{product.title}}</b>
	</a>
    <div class="row">
    	<div class="col-md-8 col-md-offset-1 product-delete-container">
		    <h2>Delete <span style="font-style:italic;">{{ object }}</span>?</h2>
		    <form action="" method="post">
			    {% csrf_token %}
			    <input type="submit" class="btn btn-danger" value="Confirm" name="confirm_delete" />
			</form>
			<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/" class="btn btn-default">Cancel</a>
		</div>
	</div>
</div>