{% load static %}
    <div class="row equal">
		<div class="products-list">
			<h4>Products</h4>
			<a href="/home/team/{{ org.pk }}/create-product/">
				<div class="products-list-item">
					<h3>
						New Product	
					</h3>

					<div class="products-list-image">
						<i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
					</div>
					
					<p class="products-list-description">
						Organized collection of features and conversations to connect your team with internal experts.
					</p>
				
				</div>
			</a>
			{% for product in products.all %}
				<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">					
					<div class="products-list-item">
					
						<h3>
							{{ product.title }}		
						</h3>

						<div class="products-list-image">
							<img src="{% get_media_prefix %}{{ product.image }}">
						</div>
						

						<p class="products-list-description">
							{{ product.description }}
						</p>

					
					</div>
				</a>

			{% endfor %}
		</div>
	</div>

