{% load widget_tweaks %}
<div class="product-home-body">
	
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	  	<a href="/home/team/{{ org.pk }}">{{org.title}}</a>
	  </li>
	</ol>
		
	<div class="title">
	    <h1>Create a Product</h1>
	</div>

	<div class="row product-create-first">
		<div class="col-md-8 col-md-offset-2 first-text">
			<p>Get started by creating a product (e.g. "Desktop Website" or "Chat App")</p>
		</div>
	</div>

	<form method="post" action="" enctype="multipart/form-data" class="create-product-form">

		{% csrf_token %}
	
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<h3>Details</h3>
				{% render_field form.title placeholder="Product name" class+="form-control create-product-input" %}
				
				{% render_field form.description placeholder="Product description" class+="form-control create-product-input" %}
			</div>
			<div class="col-md-4 text-center">
				<h3>Screenshot</h3>
				
				<label class="btn btn-default btn-file" for="product-image-selector">
					Choose File...
					{% render_field form.image id="product-image-selector" class+="file-upload" %}
				</label>
				
				<div id="upload-file-info">
					
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		
		<div class="row">
			<div class="text-center">
				<input type="submit" class="btn btn-main product-create-btn" value="Create Product" />
			</div>
			
		</div>
		
		
	    
	</form>



</div>