{% load widget_tweaks %}
<div class="product-home-body">
	
	<a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <b>{{org.title}}</b>
    </a>
		
	<div class="title">
	    <h1>Create a Product</h1>
	</div>

	<div class="row product-create-first">
		<div class="col-md-4">
			<h3>Start</h3>
			<p>Products are composed of features that your team can track and discuss. Create separate products for web, mobile, and different versions of your software.</p>
		</div>
		<div class="col-md-4">
			<h3>Discuss</h3>
			<p>Match experts to each feature who can answer questions and manage feedback from teammates.</p>
		</div>
		<div class="col-md-4">
			<h3>Organize</h3>
			<p>Promote discussion across teams through screenshots and directed questions.</p>
		</div>
	</div>

	<form method="post" action="" enctype="multipart/form-data" class="create-product-form">

		{% csrf_token %}
	
		<div class="row">
			<div class="col-md-6">
				<h3>Details</h3>
				{% render_field form.title placeholder="Product name" class+="form-control create-product-input" %}
				
				{% render_field form.description placeholder="Product description" class+="form-control create-product-input" %}
			</div>
			<div class="col-md-6">
				<h3>Screenshot</h3>
				
				<label class="btn btn-default btn-file" for="product-image-selector">
					Choose File...
					{% render_field form.image id="product-image-selector" class+="file-upload" %}
				</label>
				
				<div id="upload-file-info">
					
				</div>
			</div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<input type="submit" class="btn btn-main product-create-btn" value="Create Product" />
			</div>
			
		</div>
		
		
	    
	</form>



</div>