<div class="product-home-body">
    
    <!--
    <a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <b>{{org.title}}</b>
    </a>
    -->

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/home/team/{{ org.pk }}">{{org.title}}</a>
      </li>
    </ol>


    <div class="row">
        <div class="col-md-10 col-md-offset-1 product-header">
        	<div class="product-details">
	            <h2>{{ product.title }}</h2>
            </div>
        </div>
    </div>

    {% include "../features/features-list.html" %}

    {% if editable %}
    <div class="row">
        <div class="product-control-btns">
            <div id="product-edit-btn">
                <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/update/" class="btn btn-default">Edit Product</a>
            </div>
            <div id="product-delete-btn">
                <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/delete/" class="btn btn-danger">Delete Product</a>
            </div>
        </div>
    </div>
    {% endif %}
    

</div>