{% load static %}

<div class="feature-home-body">
		<!--
		<a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			<b>{{product.title}}</b>
		</a>
		-->

    <div class="row">
        <div class="col-md-8">
            <div class="feature-details">
	            <h2>{{ feature.title }}</h2>
	            <p>{{ feature.description }}</p>
            </div>
			<div class="feature-screenshot">
				<img src="{% get_media_prefix %}{{ screenshots.all.0.image }}" class="annotatable">
			</div>


        </div>
        <div class="col-md-4">
			<div class="feature-experts">
				<h4>Experts</h4>
				{% for expert in experts.all %}
					<img src="{% get_media_prefix %}{{ expert.profile_pic }}" style="height:50px; width:50px;" class="expert-image" data-toggle="tooltip" title="{{ expert.first_name }} {{ expert.last_name }} - {{ expert.role }}">
				{% endfor %}
			</div>

			<div class="feature-questions" style="height:auto;">
				<div class="feature-questions-header">
					<h4>Questions</h4>
					<div class="question-ask-btn">
					    <a class="btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/ask-a-question/">
						{% if questions %}
							Ask
						{% else %}
							Ask
						{% endif %}
						</a>
					</div>
				</div>
				{% for question in questions.all %}
			        <div class="feature-question">
				        <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/question/{{ question.pk }}">
				        	{{ question.text }}
				        </a>
				    </div>
			    {% endfor %}
			</div>  
		    
			
		</div>
    </div>
	<br>


    

    <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/delete/">Delete</a>
</div>