{% load widget_tweaks %}
{% load staticfiles %}
<div class="feature-home-body">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	  	<a href="/home/team/{{ org.pk }}">{{org.title}}</a>
	  </li>
	  <li class="breadcrumb-item active">
	  	<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">{{product.title}}</a>
	  </li>
	</ol>

	<div class="title">
	    <h1>Create a Feature</h1>
	</div>

	<form method="post" action="" enctype="multipart/form-data" class="create-feature-form">

		{% csrf_token %}
	
		<div class="row feature-create-first">
			<div class="col-md-5">
				<h3>Details</h3>
				<p>Create the first feature for {{ product.title }} (e.g. "Signup form")</p>
				{% render_field form.title placeholder="Feature name" class+="form-control create-feature-input" %}

				{% render_field form.description placeholder="Feature description" class+="form-control create-feature-input" %}
			</div>
			<div class="col-md-5 col-md-offset-1">
				<h3>Experts</h3>
				<p>Annoint experts (hint: they're the one answering the same question over and over...)
				</p>
				{% render_field form.experts placeholder="Feature experts" class+="create-feature-input feature-field" %}

				<h3>Screenshot</h3>
				<p>Add a screenshot to make it clear</p>
				<p style="font-size:10px;margin-top:-5px">(square 1000px or smaller, please)</p>
				<label class="btn btn-default btn-file" for="feature-screenshot-selector">
					Choose File...
					{% render_field form.screenshot id="feature-screenshot-selector" style="display: none;" class+="file-upload" %}
				</label>
				
				<div id="upload-file-info">
					
				</div>
			</div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<input type="submit" class="btn btn-main feature-create-btn" value="Create the Feature" />
			</div>
			
		</div>
		
	    
	</form>

</div>