{% load widget_tweaks %}
{% load static %}

<div class="feature-home-body">
	

	<!--	
	<a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		<b>{{product.title}}</b>
	</a>
	-->

	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	  	<a href="/home/team/{{ org.pk }}">{{org.title}}</a>
	  </li>
	  <li class="breadcrumb-item active">
	  	<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">{{product.title}}</a>
	  </li>
	</ol>
		

    <div class="row">
        <div class="col-md-8">
            <div class="row">
            	<div class="col-md-10 col-md-offset-1 feature-header">
		            <div class="feature-details">
			            <h2>{{ feature.title }}</h2>
			            <p>{{ feature.description }}</p>
		            </div>
            	</div>
            </div>
            <div class="feature-filters-experts">
	            <div class="feature-anno-group-btns">
		            <p class="feature-filter-expert-label">Filter</p>
		            <div class="btn-group" role="group" aria-label="Annotation Selection">
					  <button type="button" id="allAnnos" class="btn btn-default feature-filter-btn">All</button>
					  <button type="button" id="expertAnnos" class="btn btn-default feature-filter-btn">Experts</button>
					  <button type="button" id="otherAnnos" class="btn btn-default feature-filter-btn">Others</button>
					</div>
				</div>

				<div class="feature-experts">
					<p class="feature-filter-expert-label">Experts</p>
					{% for expert in experts.all %}
						<a href="/home/profile/{{ expert.pk }}">
							{% if expert.profile_pic %}
								<img src="{% get_media_prefix %}{{ expert.profile_pic }}" style="height:35px; width:35px;" id="expert-image" class="expert-image" data-toggle="tooltip" title="{{ expert.tooltip }}">
							{% else %}
								<img src="{% get_media_prefix %}profile_pics/avatar.png" style="height:35px; width:35px;" id="expert-image" class="expert-image" data-toggle="tooltip" title="{{ expert.tooltip }}">
							{% endif %}
						</a>
						<!-- Invite -->
						
					{% endfor %}
					<a href="/invitation/{{org.pk}}?next={{ request.path|urlencode }}">
						<img src="{% get_media_prefix %}envelope.png" style="height:35px; width:35px;" id="expert-image" class="expert-image" data-toggle="tooltip" title="Invite an expert">
					</a>
				</div>
			</div>
			
			{% if screenshots.all.0.image %}
			<div class="feature-screenshot">
				<div class="screenshot-wrapper">
					<img src="{% get_media_prefix %}{{ screenshots.all.0.image }}" class="annotatable feature-screenshot-image">
				</div>
			</div>
			{% else %}

			
			<div class="add-screenshot-btn">
	    		<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/update/" class="btn btn-default">Add a Screenshot</a>
	    	</div>


			{% endif %}


			{% if annotations %}
			 <div class="feature-edit-text">
			 	Add shapes and annotations to the image above.
			 </div>
				
				<!--
				PUBLISHING ANNOTATIONS BELOW THE SCREENSHOT
				{% for annotation in annotations.all %}
					<p>
						{{ annotation.text }}
					</p>
				{% endfor %}
				-->


			 {% endif %}
			{% if editable %}
	    	<div class="feature-control-btns">
		    	<div id="feature-edit-btn">
		    		<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/update/" class="btn btn-default">Edit Feature</a>
		    	</div>

		    	<div id="feature-delete-btn">
		    		<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/delete/" class="btn btn-danger">Delete Feature</a>
		    	</div>
		    </div>
		    {% endif %}
        </div>

        <div class="col-md-4">
			

			<div class="feature-questions-list">
				<div class="feature-questions-header">
					<h4 id="questions-header">Questions</h4>
					<div class="question-ask-btn">
					    <a class="btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/ask-a-question/">
						{% if questions %}
							Ask
						{% else %}
							Ask
						{% endif %}
						</a>
					</div>
				</div>
				<div class="feature-questions">
				{% for question in questions.all %}
			        <div class="feature-question">
				        <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/question/{{ question.pk }}">
				        	
							<div class="feature-question-indicators">
								{% if question.responses.count > 0 %}
									<i class="fa fa-check-circle" style="color:#009933;" aria-hidden="true"></i>
								{% else %}
									<i class="fa fa-clock-o" aria-hidden="true"></i>
								{% endif %}
								<br>
							</div>
				        	<div class="feature-question-text-wrapper">
				        		{{ question.text }}
				        	</div>
				        </a>
				    </div>
			    {% endfor %}
			    </div>
			</div>  
	    	
			
		</div>
    </div>
	<br>


    
	
</div>