{% extends "../home-feature.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{product.title}} - {{feature.title}}{% endblock %}

{% block content %}
        <div class="row">
          
            {% include "../nav/prod-left-nav.html" %}
            
            {% include "./feature-home-body.html" %}

        </div>
    
{% endblock %}

{% block postjs %}
	
	{% include "../javascript/feature-anno-start.js" %}
	{% include "../javascript/feature-expert-image-tooltip.js" %}
	

{% endblock %}