{% load widget_tweaks %}
<div class="title">
    <h1>Update Your Profile</h1>
</div>

Welcome {{ user.username }}

</br>
</br>
<form method="post" action="">
	{% csrf_token %}

    {% render_field form.username placeholder="Username" class+="form-control activate-input" %}

    {% render_field form.role placeholder="Role" class+="form-control activate-input" %}

    {% render_field form.first_name placeholder="First name" class+="form-control activate-input" %}

    {% render_field form.last_name placeholder="Last name" class+="form-control activate-input" %}

    {% render_field form.password placeholder="Password" class+="form-control activate-input" %}

    <input type="submit" class="btn btn-main" value="Update" />
</form>