{% load staticfiles %}
<nav class="navbar navbar-front">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
         <img src="{% static 'front-nav-logo.png' %}"> 
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-front pull-right">
        <li>
          <a class="btn-nav-front" href="/product/">Product</a>
        </li>
        <li>
          <a class="btn-nav-front" href="/pricing/">Pricing</a>
        </li>
        <li>
          <a class="btn-nav-front" href="/contact/">Contact</a>
        </li>
        <li>
          <a class="btn-login-front" href="/login/">Login</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>