{% load staticfiles %}

<nav class="navbar navbar-home navbar-fixed-top">
  <div class="home-nav-wrapper">
    <div id="navbar">
      <div class="dropdown home-teams-dropdown pull-left">
        
        
        
        <button class="btn btn-default btn-teams" data-toggle="dropdown">
          {% if org %}
          {{ org.title }}
          {% else %}
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          Teams
          {% endif %}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        

        {% if user_orgs %}
          <ul class="dropdown-menu teams-dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for org in user_orgs.all %}
                <li><a href="/home/{{ org.pk }}">{{ org.title }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <ul class="dropdown-menu teams-dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>  New Team</a></li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>  Find a Team</a></li>
          </ul>
        {% endif %}
      </div>
      <ul class="nav navbar-nav nav-home pull-right">
        <li>
          <a class="" href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
        </li>
        <li>
          <a class="" href="/home/profile/"><i class="fa fa-user" aria-hidden="true"></i>  {{user.first_name}}</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>