<div class="feature-home-body">
    <div class="title">
        <h2>{{ feature.title }}</h2>
    </div>

    <p>{{ feature.description }}</p>

    {% if questions %}
	 	<ul>
	    {% for question in questions.all %}
	        <li><a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/question/{{ question.pk }}">{{ question.text }}</a></li>
	    {% endfor %}
	  	</ul>
	    <br>
	    <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/ask-a-question/">
	    	Ask a question
	    </a>
    {% else %}
		</br>
		</br>
	    <div>
	    	<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}/ask-a-question/">
		    	Ask a question
		    </a>
	    </div>
    {% endif %}
</div>