{% load static %}

<div class="home-body">
    <div class="container">
		<div class="row">
			<div class="col-md-3 profile-image">
				<img src="{% get_media_prefix %}{{ profile_user.profile_pic }}" style="height:150px; width:150px;">
			</div>
			<div class="col-md-4 profile-title">
				<h2>{{ profile_user.first_name }} {{ profile_user.last_name }}</h2>
        		
				<table class="profile-details-table">
					<tr>
						<td class="profile-label">Username:</td>
						<td>{{ profile_user.username }}</td>
					</tr>
					<tr>
						<td class="profile-label">Role:</td>
						<td>{{ profile_user.role }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

    

</div>