{% load static %}

<div class="home-body">
    <div class="container">
		
		<div class="row">
	        <div class="col-md-10 col-md-offset-1 profile-header">
	            <!--<h2>Welcome {{ user.first_name }} {{ user.last_name }}</h2>-->
	            <h2>Profile</h2>
	        </div>
	    </div>


		<div class="row">
			
			<div class="col-md-10 col-md-offset-1 profile-body">
				<div class="row">
					<div class="col-md-3">
						<img src="{% get_media_prefix %}{{ user.profile_pic }}" class="profile-image" style="height:150px; width:150px;">
						<br>
		    			<a href="/home/profile/update">Update Your Profile</a>
					</div>
					<div class="col-md-4 profile-title">
						<h2>{{ user.first_name }} {{ user.last_name }}</h2>
		        		
		        		<div class="profile-details">
							<span class="profile-label">Email</span>
							<p>{{ user.email }}</p>

							<span class="profile-label">Username</span>
							<p>{{ user.username }}</p>
							
							<span class="profile-label">Role</span>
							<p>{{ user.role }}</p>
							
							{% if default_source %}
								<span class="profile-label">CC Number</span>
								<p>xxxx - xxxx - xxxx - {{ default_source.last4 }}</p>
								<span class="profile-label">CC Email</span>
								<p>{{ default_source.name }}</p>
								<span class="profile-label">CC Expiration</span>
								<p>{{ default_source.exp_month }}/{{ default_source.exp_year }}</p>
							{% endif %}
							
							<span>
								<form action="/update_payment/" method="POST">
								  {% csrf_token %}
								  <script
								    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
								    data-key="pk_test_rYhRKdREwHaMp6KoaveWVNsE"
								    data-label="Update CC details">
								  </script>
								</form>
							</span>
		        		</div>


					</div>
				</div>

				
			</div>
		</div>
	</div>

    

</div>