{% load widget_tweaks %}
<div class="home-body">
	<div class="wrapper-div">
		<div class="title">
		    <h1>Update Your Profile</h1>
		</div>

		</br>
		</br>
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			
			<table style="width:100%">
				
				<tr>
					<td class="update-label">Role</td>
					<td class="update-field">
						{% render_field form.role placeholder="Role" class+="form-control update-input" %}
					</td> 
				</tr>
				<tr>
					<td class="update-label">First Name</td>
					<td class="update-field">
						{% render_field form.first_name placeholder="First name" class+="form-control update-input" %}
					</td> 
				</tr>
				<tr>
					<td class="update-label">Last Name</td>
					<td class="update-field">
						{% render_field form.last_name placeholder="Last name" class+="form-control update-input" %}
					</td> 
				</tr>
				<tr>
					<td class="update-label">Primary Team</td>
					<td class="update-field">
						{% render_field form.primary_org placeholder="Primary Org" class+="form-control update-input" %}
					</td> 
				</tr>

				<tr>
					<td class="update-label">Profile Pic</td>
					<td class="update-field">
						{% render_field form.profile_pic placeholder="Profile Pic" class+="form-control update-input" %}
					</td> 
				</tr>

				<tr>
					<td class="update-label">Username</td>
					<td class="update-field">
						{% render_field form.username placeholder="Username" class+="form-control update-input" %}
					</td> 
				</tr>

				<tr>
					<td class="update-label">Password</td>
					<td class="update-field">
						{% render_field form.password placeholder="Password" class+="form-control update-input" %}
					</td> 
				</tr>
			</table>


		    <input type="submit" class="btn btn-main profile-update-submit" value="Update" />
		</form>
	</div>
</div>