html{
  position: relative;
  height: 100%;
}

body {
  background-color: rgb(250,250,250);
  padding-top:61px;
  min-height:100%;
}

h1 {
	font-size: 80px;
    color: #FCA205;
}

.navbar-landing {
  background-color: rgb(250,250,250);
  min-width: 700px;
}

.navbar-front {
  background-color: #214478;
  min-width: 700px;
}

.navbar-home {
  background-color: rgb(250,250,250);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  box-shadow: 0px 2px 2px #ccc;
  min-width: 900px;
  color: #214478;
  /*
  background-image: -webkit-linear-gradient(top,#3771C8 0,#3771C8 100%);
    background-image: -o-linear-gradient(top,#3771C8 0,#3771C8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3771C8),to(#3771C8));
    background-image: llinear-gradient(to bottom,#3771C8 0,#3771C8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    */
}

.subnav-home {
  background-color: #3771C8;
  /*
  background-image: -webkit-linear-gradient(top,#dbdbdb 0,#dbdbdb 100%);
  background-image: -o-linear-gradient(top,#dbdbdb 0,#dbdbdb 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#dbdbdb));
  background-image: llinear-gradient(to bottom,#dbdbdb 0,#dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  min-height: 30px;
  margin-top:-2px;
  */

}

.nav-home {
  min-width: 180px;
}

.nav-landing {
  min-width: 300px;
}

.nav-front {
  min-width: 300px;
}


.nav-landing > li,
.nav-front > li, 
.nav-home > li {
  margin:10px;
}

.nav-front > li > a {
  padding: 7px;
  position: relative;
  display: block;
  color: #e5ebf6;
  font-weight: 300;
  border-bottom: #214478 solid 2px;
}
.nav-front > li > a:hover,
.nav-front > li > a:focus {
  color: #FFF;
  text-decoration: none;
  border-bottom: #FFF solid 2px;
  cursor: pointer;
}

.nav-landing > li > a {
  padding: 7px;
  position: relative;
  display: block;
  color: #214478;
  font-weight: 400;
  border-bottom: rgb(250,250,250) solid 2px;
}

.nav-landing > li > a:hover,
.nav-landing > li > a:focus {
  text-decoration: none;
  border-bottom: #214478 solid 2px;
  cursor: pointer;
}

.nav-home > li > a {
  padding: 7px;
  position: relative;
  display: block;
  color: #214478;
  font-weight: 300;
  border-bottom: rgb(250,250,250) solid 2px;
}
.nav-home > li > a:hover,
.nav-home > li > a:focus {
  color: #214478;
  text-decoration: none;
  border-bottom: #214478 solid 2px;
  cursor: pointer;
}


.btn-login-front {
  color: #fff;
  border-width: 2px;
}

.btn-nav-front {
  color: #fff;
  border-width: 2px;
}

.btn-login-landing {
  color: #214478;
  background-color: rgb(250,250,250);
  border-width: 2px;
}

.btn-nav-landing {
  color: #214478;
  background-color: rgb(250,250,250);
  border-width: 2px;
}


.btn-main {
  color: #fff !important;
  font-weight:500;
  background-color: #3771B7;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#274f8c", endColorstr="#3771C8");
  /*
  background-image: -khtml-gradient(linear, left top, left bottom, from(#274f8c), to(#3771C8));
  background-image: -moz-linear-gradient(top, ##274f8c, #3771C8);
  background-image: -ms-linear-gradient(top, #274f8c, #3771C8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #274f8c), color-stop(100%, #3771C8));
  background-image: -webkit-linear-gradient(top, #274f8c, #3771C8);
  background-image: -o-linear-gradient(top, #274f8c, #3771C8);
  background-image: linear-gradient(#274f8c, #3771C8);
  */
  border-color: #3771C8 #3771C8 hsl(220, 83%, 9.5%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-default:hover{
  background-color: #eff2f5;
}

.btn-reg{
  width: 150px;
  height: 46px;
  font-size: 20px;
}

.title {
  margin-bottom: 20px;
}

/* Landing page */
.landing-nav-wrapper {
  min-width: 900px;
  width: 98%;
  padding: 0px 10px;
}

#landing-body {
	width: 600px;
	padding: 40px;
}

#tagline {
}

#landing-form {
}

#landing-input {
	width: 300px;
	margin: 10px 0 15px;
	display: inline-block;
}

#landing-button {
	width: 200px;
	margin: 10px 0 25px;
	display: inline-block;
}

/* Front Pages */
.front-nav-wrapper {
  min-width: 900px;
  width: 98%;
  padding: 0px 10px;
}

/* Login page */
#login-body {
	width: 600px;
	padding: 40px;
}
.login-input {
	width: 200px;
	margin: 10px 0 15px;
	display: block;
}

/* Registration */
.registration-body{
  padding-right:200px;
  text-align: center;
}
.registration-text{
  font-size: 18px;
  color: #555;
  width: 50%;
  margin: 0 auto;
}
.registration-form{
  width: 280px;
}
.registration-input{
  height: 45px;
  font-size: 16px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
}

/* Email sent page */
.email-sent-text{
  font-size:19px;
  color: #555;
  padding-left: 5px;
  float: left;
  width: 100%;
}

/* Find Org page */
.find-org-input {
  width: 200px;
  margin: 15px 0 15px;
  display: inline-block;
}

.btn-main {
  margin-bottom: 3px;
}

/* Activate Form */
#activation-form{
  width:200px;
  margin: 0 auto;
}

.activation-text{
  font-size: 18px;
  color: #555;
}
.activate-input {
  width: 200px;
  margin: 15px 0;
  display: block;
}

/* Update Profile Form */
.update-input {
  width: 200px;
  margin: 5px 0;
  display: inline-block;
}

.update-label{
  width: 20%;
}

.update-field{

}

/* Create team */
.create-org-text{
  width:85%;
  margin: 0 auto;
  font-size: 20px;
}
.create-org-input {
  width: 280px;
  height: 60px;
  font-size: 36px;
  margin: 5px 0;
  display: inline-block;
  text-align: center;
}

/* Invite page */
.invite-input {
  width: 200px;
  margin: 5px 0;
  display: block;
}

.invite-checkbox {
  width: 20px;
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

#checkbox {
  width:260px;
}

#checkbox-text {
  width:220px;
  display: inline-block;
}

#email-domain {
  font-weight: bold;
  font-style: italic;
}


/* Home area */
.home-dropdown-teams {
  margin: 10px;
}

.home-dropdown-products {
  margin: 4px 10px;
}

.home-dropdown-profile {
  margin: 7px 50px 7px 0;
}

.home-nav-icon{
  float:left;
  font-size: 26px;
  height: 55px;
  padding: 18px 0 0 5px;;
}

/* Bottom Banner */
.home-bottom-banner{
  position: fixed;
  bottom: 20px;
  left: 0px;
  padding: 10px 30px;
}
.banner-trial{
  background-color: #C2D4EE;
  color: #214478;
}
.banner-fail{
  background-color: #D3B9B6;
  color: #782A21;
}

.banner-header{
  font-size:14px;
  font-weight: 600;
}

.banner-text{
  font-size:12px;
  font-weight: 400 ;
}

.banner-text a{
  text-decoration: underline;
  color: #214478;
}

.banner-text a:hover,
.banner-text a:focus{
  text-decoration: underline;
  color: #3165B3;
}



.products-dropdown-menu, 
.teams-dropdown-menu, 
.products-collapse-menu,
.features-collapse-menu {
  padding: 0px 0px;
  min-width: 50px;
}

.products-dropdown-menu > li > a,
.teams-dropdown-menu > li > a,
.products-collapse-menu > li > a,
.features-collapse-menu > li > a {
  color: #214478;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  width: 100%;

}
.products-dropdown-menu > li > a,
.teams-dropdown-menu > li > a {
  padding: 10px 30px 10px;
}


.products-dropdown-menu > li > a:hover, 
.products-dropdown-menu > li > a:focus,
.teams-dropdown-menu > li > a:hover, 
.teams-dropdown-menu > li > a:focus,
.products-collapse-menu > li > a:hover, 
.products-collapse-menu > li > a:focus,
.features-collapse-menu > li > a:hover, 
.features-collapse-menu > li > a:focus {
  color: #214478;
  text-decoration: none;
  background-color: transparent;
}


.profile-dropdown-menu {
  padding: 0px 0px;
  min-width: 50px;
}

.profile-dropdown-menu > li > a {
  color: #214478;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  width: 100%;

}
.profile-dropdown-menu > li > a {
  padding: 10px 30px 10px;
}

.profile-dropdown-menu > li > a:hover, 
.profile-dropdown-menu > li > a:focus {
  color: #214478;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-toggle {
  display: block;
  text-decoration: none;
}

.dropdown-toggle {
  display: block;
  text-decoration: none;
}

.btn-teams {
  min-width: 150px;
  min-height: 40px;
  color: #214478;
  font-size: 20px;
  font-weight: 300;
  text-align:left;
  padding: 6px 10px;
  background-color: transparent;
  border: none;
  border-radius:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.btn-teams:hover, .btn-teams:active, .btn-teams:active:focus, .btn-teams:focus  {
  background-color: #dadfe7;
  color: #214478;
  border: none;
}

.btn-products {
  min-width: 150px;
  min-height: 40px;
  color: #214478;
  font-weight: 300;
  text-align:left;
  padding: 6px 4px;
  background-color: transparent;
  border: none;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

.btn-products:hover, .btn-products:active, .btn-products:active:focus, .btn-products:focus  {
  background-color: #e9ecf1;
  color: #214478;
  border: none;
}

.btn-products-team{
  font-size: 12px;
}
.btn-products-product{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.btn-products-icon{
  float: left;
}

.btn-profile {
  min-width: 45px;
  min-height: 40px;
  color: #214478;
  font-weight: 300;
  text-align:left;
  padding: 6px 5px;
  background-color: transparent;
  border: none;
}

.btn-profile:active:hover, .btn-profile:hover, .btn-profile:active, .btn-profile:active:focus, .btn-profile:focus  {
  background-color: rgb(250,250,250);
  color: #214478;
  border: none;
  box-shadow: none;
  border-color: transparent;
}


.btn-text-column {
  float:left;
  padding: 0px 10px;
}

.btn-caret-column{
  float: left;
  margin-top: 24px;
  font-size:15px;
}


.home-left-nav {
  width: 220px;
  margin-left: -220px;
  left: 220px;
  height:100%;
  position: fixed;
  overflow-y: auto;
  /*z-index: 1000;*/
  padding: 0px 0px;
  vertical-align: top;
  color: #2e466b;
  border-right: 1px solid rgba(0,0,0,0.12);
  box-shadow: 1px 0px 5px #ccc;
}

.home-link {
  display: inline-block;
  color: #214478;
  position: absolute;
  left: 50%;
  margin-top: 15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-nav-icon {
  width: 10%;
  float: left;
  margin: 0 3px 0 0;
}
.left-nav-text {
  width: 80%;
  float: left;
}

.home-left-nav > ul {
  list-style: none;
  padding: 0px 0px;
  text-align: left;
  vertical-align: middle;
}

.home-left-nav > ul > li {
  height: 50px;
  line-height: 13px;
  font-size: 12px;
  padding: 20px 0px 4px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

.home-left-nav > ul > li:hover, 
.home-left-nav > ul > li:active, 
.home-left-nav > ul > li:active:focus, 
.home-left-nav > ul > li:focus  {
  background-color: #e9ecf1;
  color: #214478;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: scroll;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 225px;
    opacity: 1;
}

.home-dropdown > ul > li {
  line-height: 30px;
  font-size: 14px;
  padding: 0px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

.home-dropdown > ul > li:hover, 
.home-dropdown > ul > li:active, 
.home-dropdown > ul > li:active:focus, 
.home-dropdown > ul > li:focus  {
  background-color: #e9ecf1;;
  color: #214478;
  cursor: pointer;
}

.profile-dropdown > ul > li {
  line-height: 30px;
  font-size: 13px;
  padding: 0px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

.profile-dropdown > ul > li:hover, 
.profile-dropdown > ul > li:active, 
.profile-dropdown > ul > li:active:focus, 
.profile-dropdown > ul > li:focus  {
  background-color: #e9ecf1;
  color: #214478;
  cursor: pointer;
}

.sidebar-nav > li > a, 
.sidebar-nav > li > a:hover, 
.sidebar-nav > li > a:active, 
.sidebar-nav > li > a:focus {
  color: #2e466b;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.sidebar-nav > li > a:hover {
  text-decoration: none;
  cursor: pointer;
}

.products-collapse-menu,
.features-collapse-menu {
  list-style: none;
  padding: 0px;
  overflow:hidden;
}

.products-collapse-menu > li,
.features-collapse-menu > li {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0px 0px 0px 35px;
  border-top: 1px solid rgba(0,0,0,0.12);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.features-collapse-menu > li:hover, 
.features-collapse-menu > li:active, 
.features-collapse-menu > li:active:focus, 
.features-collapse-menu > li:focus  {
  background-color: #dadfe7;
  color: #214478;
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,0.12);
}

.products-collapse-menu > li:hover, 
.products-collapse-menu > li:active, 
.products-collapse-menu > li:active:focus, 
.products-collapse-menu > li:focus  {
  background-color: #dadfe7;
  color: #214478;
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,0.12);
}

/*
background-color: #dedede;
border: 1px solid #bbb;
border-radius: 4px;
box-shadow: 0px 0px 2px #999;
*/

.row {
  margin: 0px;
}

.home-nav-wrapper {
  min-width: 900px;
  width: 98%;
  padding: 0px 10px;
}

.home-wrapper {
  overflow-x: hidden;
  height:100%;
}

.home-feature-wrapper {
  padding-left: 220px;
  overflow-x: hidden;
  height:100%;
}

.home-body,
.home-dash-body,
.org-home-body, 
.product-home-body, 
.product-delete-body,
.feature-home-body,
.feature-delete-body,
.question-home-body,
.response-home-body{
  min-width: 700px;
  width: 97%;
  min-height: 94.5%;
  margin: 15px;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px #ccc;
  flex-grow: 1;
}

.home-body-row{
  height:100%;
}

.pay-home-body{
  padding-top: 20px;
  padding-bottom: 60px;
}


/* Home Dash */
.orgs-list {
}

.orgs-list h3{
  color: #333;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.orgs-list h4{
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.orgs-list h5{
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

#orgs-list tr:not(:first-child){
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#orgs-list th{
  padding-top: 5px;
  text-align: center;
}
#orgs-list td{
  padding-top: 5px;
  text-align:center;
}

#orgs-list tr:not(:first-child):hover{
  background-color:rgb(240,240,240);
  cursor: pointer;
}

#orgs-list td:nth-child(1){
  padding-left: 35px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

#orgs-list th:nth-child(1){
  width: 35%;
  text-align: left;
  padding-left:2%;
}
#orgs-list th:nth-child(2){
  width: 5%;
}
#orgs-list th:nth-child(2){
  width: 10%;
}
#orgs-list th:nth-child(3){
  width: 10%;
}
#orgs-list th:nth-child(4){
  width: 10%;
}
#orgs-list th:nth-child(5){
  width: 10%;
}
#orgs-list th:nth-child(6){
  width: 10%;
}
.org-object{
  height: 50px;
}

.org-status-icon-good {
  color: #000;
}

.org-status-icon-cc {
  color: #000;
}

.org-status-icon-fail {
  color: red;
}


.org-status-icon-good a{
  color: #214478;
}

.org-status-icon-cc a{
  color: #214478;
}

.org-status-icon-fail a{
  color: red;
}

.org-status-icon-cc a:hover,
.org-status-icon-cc a:focus,
.org-status-icon-cc a:active,
.org-status-icon-cc a:visited{
  color: #214478;
}

.org-status-icon-fail a:hover,
.org-status-icon-fail a:focus,
.org-status-icon-fail a:active,
.org-status-icon-fail a:visited{
  color: red;
}

.org-status-icon-good a:hover,
.org-status-icon-good a:focus,
.org-status-icon-good a:active,
.org-status-icon-good a:visited{
  color: #214478;
}



.orgs-list-item {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  width: 120px;
  float: left;
  padding: 1% 2% 2%;
  height: 120px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  
  margin: 1.5% 2%;
  transition: .5s;
}

.orgs-list-item:hover {
  cursor: pointer;
}

.orgs-list-item > a,
.orgs-list-item > a:hover, 
.orgs-list-item > a:active, 
.orgs-list-item > a:focus {
  color: #555;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.orgs-list-item > a:hover {
  text-decoration: none;
  cursor: pointer;
}

.orgs-list-image{
  margin:0 auto;
  text-align:center;
  color: #333;
  margin: 12% 0 7%;
}

.orgs-list-image > img{
  height: 100px;
  width: 100px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #ccc;
}


/* Profile */
#profile-body {
  padding: 20px;
  display: inline-block;
}


.profile-header-container{
  text-align: left;
  border-bottom: 1px solid #bbb;
  color: #333;
}

.profile-header{
  display:inline-block;
  margin-right:15px;
}

.profile-image{
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0px 1px 4px #888;
}

.profile-title{
  color: #444;
  font-size: 15px;
}
.profile-title > h2{
  color: #333;
  font-size: 24px;
}

.profile-label{
  font-size: 11px;
  font-weight: normal;
  color: #777;
  display: inline-block;
  width: 90px;
}

.profile-details-table{
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}
.profile-details-table td{
  padding: 3px;
  padding-left: 5px;
}

/* Update Profile */
.profile-update{
  height:100%;
}
.profile-update-submit{
  margin: 20px 0 0 20%;
}

/* Org home page */
.org-home-header{
  text-align: left;
  color: #333;
}

.org-home-header h2{
  display: block;
  font-size:40px;
}

/* Create Product - First time */
.product-create-first,
.feature-create-first{
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  width: 100%;
}
.product-create-first h3,
.feature-create-first h3{
  font-weight:600;
  font-size: 19px;
  color: #333;
}

/* Create Product */
.create-product-input {
  width: 80%;
  margin: 5px 0;
  display: inline-block;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

/* Products List */
.products-list {
  width: 86%;
  margin: 2% 7%;
}

.products-list h3{
  color: #333;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.products-list h4{
  color: #666;
  font-size: 16px;
  margin: 5px 0 0;
  margin-left: 3%;
  font-weight: bold;
}

.products-list-item {
  color: #333;
  text-decoration: none;
  font-size: 13px;
  position: relative;
  width: 200px;
  float: left;
  padding: 1% 2% 2%;
  height: 200px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 0px 2px 4px #ccc;
  margin: 1.5% 2%;
  transition: .5s;
}

.products-list-item:hover {
  box-shadow: 0px 1px 4px 3px #829fc9;
  cursor: pointer;
}

.products-list-item > a,
.products-list-item > a:hover, 
.products-list-item > a:active, 
.products-list-item > a:focus {
  color: #555;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.products-list-item > a:hover {
  text-decoration: none;
  cursor: pointer;
}

.products-list-image{
  margin:0 auto;
  text-align:center;
  color: #333;
  margin: 1% 0 3%;
}

.products-list-image > img{
  height: 100px;
  width: 100px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #ccc;
}

.org-members-list {
  width: 86%;
  margin: 2% 7%;
  padding: 0 3%;
}

.org-members-list h4{
  color: #666;
  font-size: 16px;
  margin: 0 0 20px;
  font-weight: bold;
  padding-left: 0px;
}

.org-member-image{
  float:left;
  border-radius: 12px;
  box-shadow: 0px 1px 4px #888;
  margin: 0px 20px 15px 0px;
}


/* Product Page */
.product-header{
  text-align: left;
  border-bottom: 1px solid #bbb;
  color: #333;
}

.product-details{
}

/* Features List */
.features-list {
  width: 86%;
  margin: 2% 7%;
}

.features-list h3{
  color: #333;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.features-list h4{
  color: #666;
  font-size: 16px;
  margin: 5px 0 0;
  margin-left: 3%;
  font-weight: bold;
}

.features-list-item {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  width: 170px;
  float: left;
  padding: 0 0 10px;
  height: 260px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 0px 2px 4px #ccc;
  margin: 1.5% 2%;
  transition: .35s;
}

.features-list-item:hover {
  box-shadow: 0px 0px 6px 3px #c9d6e8;
  cursor: pointer;
}

.features-list-item > a,
.features-list-item > a:hover, 
.features-list-item > a:active, 
.features-list-item > a:focus {
  color: #555;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: scroll;
}


.features-list-item > a:hover {
  text-decoration: none;
  cursor: pointer;
}

.features-list-add-icon{
  height: 120px;
  padding-top: 30px;
  text-align: center;

}

.features-list-image{
  margin:0;
  text-align:center;
  color: #333;
  /* width:200px; */
  height:170px; 
  background-position:center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
}



.features-list-text{
  padding: 8px 5px 5px;
  overflow: scroll;
  font-size: 12px;
}


.features-list-description{
  text-align: left;
}



/* Features List */
.features-list{
  list-style: none;
  padding: 0;
}


/* Create Feature */
.create-feature-form{
  width: 100%;
}
.create-feature-input {
  margin: 5px 0;
  
}

.create-feature-form ul {
  padding: 0;
  list-style: none;
}
.create-feature-form label {
  font-weight:normal;
}
.create-feature-form label > input{
  margin-right: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file .file-upload {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block !important;
}

#upload-file-info{
  padding: 5px;
}


.back-btn{
  font-size: 10px;
}



.feature-create-btn{
  margin: 20px 0 0 0;
}

.feature-edit-text{
  font-size: 10px;
  color: #555;
  text-align: center;
}

.feature-delete-body,
.product-delete-body{

}

.feature-delete-container,
.product-delete-container {
  text-align: center;
}


.feature-control-btns,
.product-control-btns{
  margin: 80px 0 0;
  text-align: center;
}

#feature-edit-btn,
#product-edit-btn{

}
#feature-delete-btn, 
#product-delete-btn {
  margin-top: 20px;
}

/* Annotations */
.feature-header{
  text-align: center;
  border-bottom: 1px solid #bbb;
  color: #333;
}
.feature-details{
}
.feature-details h2{
  font-size: 30px;
}

.feature-anno-group-btns{
  float:left;
  margin-left:20%;
}

.feature-experts{
  padding: 0px 5%;
  float:left;
  margin-right: 10%;
  
}
.feature-filters-experts{
  margin:4% 0 1%;
  float:left;
  width:100%;
  text-align: center;
}

.feature-filter-expert-label{
  margin: 0 0 4px 2px;
  font-size: 12px;
  font-weight: 400;
  color:#999;
}
.feature-filter-btn {
    padding: 8px 6px;
    font-size: 12px;
    border-radius: 4px;
}
.small-label{
  font-size: 12px;
}

.expert-image{
  float:left;
  border-radius: 12px;
  box-shadow: 0px 0px 2px #ccc;
  margin-right:8px;
}
.profile-btn-image{
  float:left;
  border-radius: 18px;
  transition: .2s;
  margin-right: 5px;
}
.profile-btn-image:hover{
  box-shadow: 0px 0px 4px #000;
  
}
.profile-btn-image-text{
  margin-right: 12px;
  float:left;
  /* height: 35px; */
  line-height: 35px;
  font-weight: 500;
}
.feature-screenshot{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.screenshot-wrapper{
  display: table;
  margin: 15px auto 10px;
}

.add-screenshot-btn{
  width: 150px;
  margin: 25% auto 0%;
}

.feature-delete-button{

}

.annotorious-popup-image{
  width: 35px;
  height: 35px;
  border-radius: 2px;
  margin: 3px 10px 3px 3px;
  border: 1px solid #555;
  float:left;
}

.annotorious-popup-name{
  float: left;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: left;
}

.annotorious-popup-role{
  font-size: 11px;
  font-weight: 500;
  color: #555;
  float: left;
  width: 50%;
  text-align:left;
  display:none;
}

.annotorious-popup-text{
  text-align: left;
  width: 70%;
  float: left;
}
.annotorious-popup-buttons{
  display:none;
}

.feature-screenshot-image{
  max-width: 500px;
  min-width: 300px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px 3px #ccc;
  margin: 3% 2%;
  border: 1px solid #ccc;
}
.feature-questions-list{
  margin: 10% 0 0 10%;
  float: left;
  width: 80%
}

.feature-questions{
  width: 100%;
  height: 430px;
  overflow: scroll;
  border-bottom: 1px solid #888;
  
  box-shadow: 0px 1px 6px #999;
}

.feature-questions-list
.feature-questions-header{
  border-radius: 12px 12px 0 0;
  background:#1b3864;
  font-weight: 500px;
  height: 50px;
  padding: 6px 25px;
  box-shadow: 0px 1px 6px #999;
  
}

.feature-questions-header h4{
  float:left;
  
}
.question-ask-btn{
  text-align: center;
  display: inline-block;
  float: right;
  margin-top:10px;
}
.feature-questions-header,
.feature-question {
  
  width: 100%;
  
  color: #eee;
  font-size: 15px;
  position: relative;
  float: left;
  margin: 0;
  
}
/* Feature Questions */
.feature-question {
  height: 80px;
  background: #fff;
  color: #333;
  text-decoration: none;
  box-shadow: 0px 1px 4px #ccc;
  transition: .5s;
  font-size: 13px;
}

.feature-question:hover {
  /*box-shadow: 0px 1px 4px 3px #829fc9;*/
  background: #eff2f5;
  cursor: pointer;
}

.feature-question > a,
.feature-question > a:hover, 
.feature-question > a:active, 
.feature-question > a:focus {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 4% 5% 4% 3%;
}


.feature-question > a:hover {
  text-decoration: none;
  cursor: pointer;
}
.feature-question-indicators{
  height:100%;
  padding: 0;
  float:left;
  font-size:14px;
  width:10%;
}

.feature-question-text-wrapper{
  overflow: scroll;
  height: 100%;
  width: 90%;
  float:left;
}

/* Create Question */
.create-question-feature{
  text-align: center;
  margin: 0 5%;
}

.question-form{
  text-align: center;
}
.create-question-input {
  width: 400px;
  margin: 5px 0;
  display: inline-block;
}


/* Question page */
.question-container{
  color: #333;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  width: 100%;
  float: left;
  padding: 8% 10% 10%;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px 3px 0 0;
  box-shadow: 0px 2px 4px #ccc;
  margin: 3% 2% 0;
}


.question-image{
  float:left;
  border-radius: 12px;
  box-shadow: 0px 1px 4px #888;
  margin-right:8px;
}

.question-details {
  width: 10%;
  min-width: 50px;
  float: left;
}

.question-text{
  font-size: 20px;
  font-weight: 500px;
  width: 80%;
  float: left;
}
.question-response-btn{
    width: 50%;
    text-align: center;
    position: relative;
    float: left;
    margin: 5% 25%;
}


.responses-container{
  margin: 0 2% 0;
  position: relative;
  width: 100%;
  float: left;
}

.responses-header{
  text-decoration: none;
  position: relative;
  width: 100%;
  float: left;
  padding: 1% 5% 1%;
  background: #fafafa;
  border: 1px solid #bbb;
  box-shadow: 0px 2px 4px #ccc;
  margin: 0;
}
.responses-header h5{
  font-size: 14;
  font-weight: 600px;
  text-decoration: underline;
  color: #333;
  margin: 3px 0;

}

.response-container{
  color: #333;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  width: 100%;
  float: left;
  padding: 6% 10% 10%;
  background: #fff;
  border: 1px solid #bbb;
  box-shadow: 0px 2px 4px #ccc;
  margin: 0;
}

.response-image{
  float:left;
  border-radius: 12px;
  box-shadow: 0px 1px 4px #888;
  margin-right:8px;
}

.response-details{
  float: left;
  width: 10%;
  min-width: 50px;
}

.response-text, .response-placeholder{
  font-size: 15px;
  width: 80%;
  float: left;
}

.response-paceholder{
  color:#777;
}

.response-input{
  padding: 10px 5%;
}
.response-submit-btn{
  position: relative;
  float: left;
  width: 40%;
  margin: 5% 30%;
}

.question-features-form > ul {
  list-style: none;
}

.question-features-form label {
  font-weight:normal;
}




.breadcrumb{
  display: inline-block;
  font-size: 11px;
  margin-bottom: 5px;
}