<div class="home-left-nav">
	<ul class="sidebar-nav">
		<li>
			<a href="/home/{{ org.pk }}/{{ product.pk }}">Home</a>
		</li>
		{% if prod_features %}
			<li class="dropdown">
	        	<span class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Features <span class="caret"></span></span>
	        	<ul class="dropdown-menu features-dropdown-menu" role="menu">
	 		 	
		            {% for feature in prod_features.all %}
		                <li>
		                	<a href="/home/team/{{ feature.product.org.pk }}/prod/{{ feature.product.pk }}/feature/{{ feature.pk }}">{{ feature.title }}</a>
		                </li>
		            {% endfor %}
	       		{% else %}

	            
	          	</ul>
        	</li>
        {% endif %}
	</ul>
</div>
