{% load staticfiles %}
{% load jsonify %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static '/js/annotorious.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/anno-psql-plugin.js' %}"></script>
<script>
    // Annotatinos should be stored in a more programatic way to
    //  allow for other types beyond expert and other
    var annotationsList = []
    var annotationsJsonString = unescape("{{annotations | safe | escapejs}}");
	var annotationsJson = JSON.parse(annotationsJsonString)

    console.log("annotationsJson");
    console.log(annotationsJson);

    // Divide and conquer
    var expertAnnosList = []
    var otherAnnosList = []
    
    

    var expertAnnos = annotationsJson[0]
    var otherAnnos = annotationsJson[1]

    for(i=0; i<expertAnnos.length; i++){
    	var annotationParsed = JSON.parse(expertAnnos[i]);
    	annotationsList[0].push(annotationParsed);
    }
    annotationsList.push(expertAnnosList)
    for(i=0; i<otherAnnos.length; i++){
        var annotationParsed = JSON.parse(otherAnnos[i]);
        annotationsList[0].push(annotationParsed);
    }
    annotationsList.push(otherAnnosList)

    anno.addPlugin('PSQL', { base_url: 'http://127.0.0.1:8000/annotations/', media_url: 'http://127.0.0.1:8000/media/', annotations: annotationsList });
    anno.setProperties({
      outline: 'yellow',
      stroke: 'green',
    });
    // Show only expert annotations

    
</script>

<script>

$("form input[class='file-upload']").change(function () { 
    // Handle the click event here
    
    var fullPath = $(this).val();
    
    var filename = fullPath.replace(/^.*[\\\/]/, '');

    $("#upload-file-info").html(filename);
});
$('.expert-image').tooltip({
    animation: "false",
    placement: "auto bottom"
});

</script>
