{% load staticfiles %}
{% load jsonify %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static '/js/annotorious.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/anno-psql-plugin.js' %}"></script>
<script>
        
    var annotationsList = []
    var annotationsJsonString = unescape("{{annotations | safe | escapejs}}");
	var annotationsJson = JSON.parse(annotationsJsonString)

    for(i=0; i<annotationsJson.length; i++){
    	var annotationParsed = JSON.parse(annotationsJson[i]);
    	annotationsList.push(annotationParsed);
    }

    anno.addPlugin('PSQL', { base_url: 'http://127.0.0.1:8000/annotations/', media_url: 'http://127.0.0.1:8000/media/', annotations: annotationsList });
    
</script>

<script>

$("form input[name='screenshot']").change(function () { 
    // Handle the click event here
    
    var fullPath = $(this).val();
    
    var filename = fullPath.replace(/^.*[\\\/]/, '');

    $("#upload-file-info").html(filename);
});


</script>
