{% load staticfiles %}


<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
<!-- <link rel="stylesheet" href="{% static '/css/bootstrap-theme.css' %}"> -->
<link rel="stylesheet" href="{% static '/css/base.css' %}">

<link rel="stylesheet" href="{% static '/js/base.js' %}">
<link type="text/css" rel="stylesheet" href="{% static '/css/annotorious.css' %}" />


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102047259-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102047259-1');
</script>
<!-- End Google Analytics -->