{% load widget_tweaks %}
<div class="question-home-body">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	  	<a href="/home/team/{{ org.pk }}">{{org.title}}</a>
	  </li>
	  <li class="breadcrumb-item">
	  	<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">{{product.title}}</a>
	  </li>
	  <li class="breadcrumb-item active">
	  	<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}">{{feature.title}}</a>
	  </li>
	</ol>
	
	<div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="new-question-title">
			    <h1>What's on your mind?</h1>
			</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            {% if feature %}
				<div class="create-question-feature">
					Question about <b>"{{ feature.title }}"</b>?
				</div>
			{% endif %}
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6 col-md-offset-2">
	    	<form class="question-form" method="post" action="">{% csrf_token %}
				<textarea class="form-control create-question-input" id="id_text" max_length="30" name="text" placeholder="Question"></textarea>
				<br>

			    <input type="submit" class="btn btn-main" value="Ask an expert" />
			</form>
		</div>
    </div>

	
	
	
</div>