{% load widget_tweaks %}

{% load static %}

<div class="question-home-body">
	{% if question_features %}
		<a class="back-btn btn btn-default btn-xs" href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ question_features.all.0.pk }}">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			<b>{{question_features.all.0.title}}</b>
		</a>
	{% endif %}
    <div class="row">
    	<div class="col-md-6 col-md-offset-2">
		    <div class="question-container">
			    <!--<h5>Question</h5>-->
			    <div class="question-details">
					<a href="/home/profile/{{ question.user_asking.pk }}">
						<img src="{% get_media_prefix %}{{ question.user_asking.profile_pic }}" style="height:35px; width:35px;" id="question-image" class="question-image" data-toggle="tooltip" title="{{ question.user_asking.first_name }} {{ question.user_asking.last_name }} - {{ question.user_asking.role }}">
					</a>
			    </div>
			    <div class="question-text">
			        {{ question.text }}
			    </div>
		    </div>
		    <div class="responses-container">
			    <div class="responses-header">
				    <h5>Responses</h5>
				</div>
			    {% if responses %}
					{% for response in responses %}
					    <div class="response-container">
						    <div class="response-details">
								<a href="/home/profile/{{ response.user_responder.pk }}">
									<img src="{% get_media_prefix %}{{ response.user_responder.profile_pic }}" style="height:35px; width:35px;" id="response-image" class="response-image" data-toggle="tooltip" title="{{ response.user_responder.first_name }} {{ response.user_responder.last_name }} - {{ response.user_responder.role }}">
								</a>
						    </div>
						    <div class="response-text">
						        {{ response.text }}
						    </div>
					    </div>
					{% endfor %}
			    {% else %}
				    <div class="response-container">
					    <div class="response-text">
					        When someone responds, it will appear here.
					    </div>
					</div>
			    {% endif %}

				<div class="question-response-btn">
					<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ question_features.all.0.pk }}/question/{{ question.pk }}/respond" class="btn btn-default">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						Give a response
					</a>
				</div>

		    </div>
		</div>
    </div>

	<div>
	
	<!--
	Ability to add features that the question also relates to
	<h3>Add Features</h3>

	<form method="post" class="question-features-form">{% csrf_token %}
	    {% render_field form.features class+="question-features-input" %}
	    <input type="submit" class="btn btn-main" value="Update Features" />
	</form>

	-->


	</div>



</div>