{% load widget_tweaks %}
<div class="question-home-body">
    
    <div class="title">
        <h2>{{ question.text }}</h2>
    </div>

	<div>
	{% for feature in question_features.all %}
		<a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}/feature/{{ feature.pk }}">{{ feature.title }}</a>
	{% endfor %}
	

	<h2>Add Features</h2>

	<form method="post" action="">{% csrf_token %}
	    {% render_field form.features class+="form-control question-features-input" %}
	    <input type="submit" class="btn btn-main" value="Add Features" />
	</form>


	</div>



</div>