<div class="home-body">
    <div class="title">
        <h2>Home</h2>
    </div>

    <p>Welcome {{ user.first_name }}  </p>

    Sales Engine is here to get your team on track.

    {% if user_orgs %}
    Choose your team below:
      <ul>
        {% for org in user_orgs.all %}
            <li><a href="/home/{{ org.pk }}">{{ org.title }}</a></li>
        {% endfor %}
      </ul>
        <br>
       <a href="/home/create-team">Create a new team</a>
    {% else %}
    <a href="/home/create-team">Create a new team</a>
    {% endif %}
    
    

</div>