{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Activate{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}



{% block content %}
    <div id="activation-body" class="registration-body">
        <div class="activation-details">
	        <div class="title">
	            <h1>Activate</h1>
	        </div>
	        <div class="activation-text">
	        	Welcome {{ new_user.email }}
	        </div>
    	</div>

	    <form id="activation-form" method="post" action="" enctype="multipart/form-data">
	    	{% csrf_token %}

	        {% render_field form.username placeholder="Username" class+="form-control activate-input" %}

	        <!-- {% render_field form.role placeholder="Role" class+="form-control activate-input" %} -->

	        {% render_field form.first_name placeholder="First name" class+="form-control activate-input" %}

	        {% render_field form.last_name placeholder="Last name" class+="form-control activate-input" %}

	        {{ new_user.email }}

	        {% render_field form.password placeholder="Password" class+="form-control activate-input" %}

	        

	        <label class="btn btn-default btn-file" for="account-profpic-selector">
					<i class="fa fa-upload" aria-hidden="true"></i>
					Upload Profile Pic
					
					<!--{% render_field form.profile_pic id="account-profpic-selector" style="display: none;" class+="file-upload" %}-->
					{% render_field form.profile_pic id="account-profpic-selector" class+="file-upload" %}
			</label>
			<div id="upload-file-info">
					
			</div>
			<br>
			<br>
	        <input type="submit" class="btn btn-main" value="Activate" />
	    </form>
	</div>
{% endblock %}

{% block postjs %}
	
	{% include "../javascript/file-upload-display.js" %}

{% endblock %}