{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Send Invitations{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
    <div id="send-invites-body" class="registration-body">
	    <div class="title">
            <h1>Build Your Team</h1>

        </div>
        <div class="registration-text">
        	<p>Invite product experts and teammates to join your team on Deetboard</p>
        	
        </div>
	    <form method="post" action="" class="registration-form">{% csrf_token %}
	        {% render_field form.invite1 placeholder="Email" class+="form-control registration-input" %}
	        {% render_field form.invite2 placeholder="Email" class+="form-control registration-input" %}
	        {% render_field form.invite3 placeholder="Email" class+="form-control registration-input" %}
	        
	        {% if form.inviteEmail %}
	        <div id="checkbox">
	        	{% render_field form.inviteEmail class+="invite-checkbox" type+="checkbox" %}
	        	<span id="checkbox-text">
	        		Check box to allow anyone with <span id="email-domain">{{ domain }}</span> email address to join the team.
	        	</span>
	        </div>
	        {% endif %}
			</br>
	       	<input type="submit" class="btn btn-main" value="Send Invites" />
			</br>
			</br>
	    </form>
	    <a class="btn btn-default" href="{{ success_url }}">Skip</a>

	</div>
{% endblock %}
