{% extends "base-feature.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
    <div id="login-body">
        <div class="title">
            <h1>Login</h1>
        </div>
        {% if form.errors %}
            <p>Your email and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="" class="registration-form">{% csrf_token %}

            {% render_field form.username placeholder="Email address" class+="form-control login-input" %}

            {% render_field form.password placeholder="Password" class+="form-control login-input" %}


            <input type="submit" class="btn btn-main" value="Login" />
            <input type="hidden" name="next" value="/home" />
        </form>
        
        <a href="/">Sign Up</a> or 
        <a href="/accounts/password/reset">Reset Password</a>
    
    </div>

{% endblock %}