{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Registration Complete{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
    <div id="email-sent-body" class="registration-body">
        <div class="title">
            <h1>Welcome</h1>
        </div>
        <div class="email-sent-text">
        	<p>
        		<br>
        		Glad to have you on Deetboard!
        		<br>
        		<br>
        		Check your email to confirm your account and get started.
        	</p>
        </div>
	</div>
{% endblock %}