{% load staticfiles %}

<nav class="navbar navbar-home navbar-fixed-top">
  <div class="home-nav-wrapper">
    <div id="navbar">
      <span class="home-nav-icon">
        <i class="fa fa-cubes" aria-hidden="true"></i>
      </span>
      <!-- Products Dropdown -->
      {% if product %}
        <div class="dropdown home-dropdown home-dropdown-products pull-left">
          <button class="btn btn-default btn-products" data-toggle="dropdown">
            <!---->
            <div class="btn-text-column">
              <span class="btn-products-team">
                {{org.title}}
              </span>
              <br>
              <span class="btn-products-product">
                  {{ product.title }}
              </span>
            </div>
            <div class="btn-caret-column">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
          </button>
          
          
          <ul class="dropdown-menu products-dropdown-menu" aria-labelledby="dropdownMenu1">
            {% if org_products %}
              {% for product in org_products.all %}
                  <li>
                    <a href="/home/team/{{ org.pk }}/prod/{{ product.pk }}">
                      {{ product.title }}
                    </a>
                  </li>
              {% endfor %}
            {% endif %}
                  <li>
                    <a href="/home/team/{{ org.pk }}/create-product">
                      <i class="fa fa-plus" aria-hidden="true"></i>  
                      New Product
                    </a>
                  </li>
            </ul>
        </div>
      {% else %}
      <!-- Teams Dropdown -->
        <div class="dropdown home-dropdown home-dropdown-teams pull-left">
          <button class="btn btn-default btn-teams" data-toggle="dropdown">
            {% if org %}
              {{ org.title }}
            {% else %}
              Teams
            {% endif %}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>

          {% if user_orgs %}
            <ul class="dropdown-menu teams-dropdown-menu" aria-labelledby="dropdownMenu1">
              {% for org in user_orgs.all %}
                  <li><a href="/home/team/{{ org.pk }}">{{ org.title }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <ul class="dropdown-menu teams-dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>  New Team</a></li>
                  <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>  Find a Team</a></li>
            </ul>
          {% endif %}
        </div>
      {% endif %}

      <a class="home-link" href="/home/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>


      <ul class="nav navbar-nav nav-home pull-right">
        <li>
          <a class="" href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
        </li>
        <li>
          <a class="" href="/home/profile/"><i class="fa fa-user" aria-hidden="true"></i>  {{user.first_name}}</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>