{% load staticfiles %}
<nav class="navbar navbar-landing navbar-fixed-top">
  <div class="landing-nav-wrapper">
    <div>
      <a class="navbar-brand" href="/">
         <img src="{% static 'landing-nav-logo.png' %}"> 
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav nav-landing pull-right">
        <li>
          <a class="btn-nav-landing" href="/product/">Product</a>
        </li>
        <li>
          <a class="btn-nav-landing" href="/pricing/">Pricing</a>
        </li>
        <li>
          <a class="btn-nav-landing" href="/contact/">Contact</a>
        </li>
        <li>
          <a class="btn-login-landing" href="/login/">Login</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>