<div class="home-left-nav">
	<ul class="sidebar-nav">
		<!--
		<li>
			<i class="fa fa-users" aria-hidden="true"></i>
			<a href="/home/team/{{ org.pk }}">{{ org.title }}</a>
		</li>
		-->
		<li class="left-nav-title">
			<a href="/home/team/{{ org.pk }}">
				
				<i class="fa fa-fw fa-home" aria-hidden="true"></i>
				{{ org.title }}
			</a>
		</li>

		<li class="left-nav-title">
			<a href="/home/team/{{ org.pk }}/products">
				
				<i class="fa fa-fw fa-cubes" aria-hidden="true"></i>
				Products
			</a>
		</li>


	</ul>
</div>
