{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Find Your Team{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
    <div id="find-org-body">
        <div class="title">
            <h1>Find Your Team</h1>
        </div>
	    <form method="post" action="">{% csrf_token %}
	        {% render_field form.email placeholder="Email address" class+="form-control find-org-input" %}

	        <input type="submit" class="btn btn-main" value="Find your team" />
	    </form>
		</br>
		<p>Enter your email and we'll let you know if there are any teams in your company to join.</p>
	    <a href="/login/">Login</a> or 
	    <a href="/">Sign up</a>
	</div>
{% endblock %}