{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Send Invitations{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
    <div id="send-invites-body">
	    <div class="title">
            <h1>Invitations</h1>
        </div>
	    <form method="post" action="">{% csrf_token %}
	        <table border="0">
	            {{ form.as_table }}
	        </table>
	        <input type="submit" value="Invite" />
	    </form>
	    <a href="/home">Skip >> </a>
{% endblock %}