{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block nav %}{% include "nav/front-nav.html" %}{% endblock %}

{% block content %}
<div id="reset-pass-body">
	<div class="title">
        <h1>Reset Password</h1>
    </div>

	<form action="" method="post">
	    <div style="display:none">
	        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
	    </div>
	     {{ form.email.errors }}
	     {% render_field form.email placeholder="Email address" class+="form-control login-input" %}
	    <input type="submit" class="btn btn-primary" value="Reset password" />
	</form>
</div>
{% endblock %}