<div class="org-home-body">
    
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/home/team/{{ org.pk }}">{{org.title}}</a>
      </li>
    </ol>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 org-home-header">
            <h1>Payments</h1>
            <br>
            <h4>Subscription</h4>
            <p>
                <span class="profile-label">Status: </span>
                {{ org.get_sub_clean }}
                <br>
                <span class="profile-label">Next Payment: </span>
                ${{ next_payment_amount }} on {{ current_end_date }}
                {% if current_start_date %}
                <br>
                <span class="profile-label">Current Cycle Start: </span>
                {{ current_start_date }}
                {% endif %}
            </p>
            
                {% if default_source %}
                <h4>Team Payment Source</h4>
                <span class="profile-label">CC Number: </span>
                xxxx - xxxx - xxxx - {{ default_source.last4 }}
                <br>
                <span class="profile-label">CC Email: </span>
                {{ default_source.name }}
                <br>
                <span class="profile-label">CC Expiration: </span>
                {{ default_source.exp_month }}/{{ default_source.exp_year }}
                <br>
                <br>
                {% endif %}

            
                <span>
                    <form action="/home/profile/update-card/" method="POST">
                        {% csrf_token %}
                        <input placeholder="Next" name="next" type="hidden" value="{{ request.path }}">
                        
                        {% if default_source %}
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_rYhRKdREwHaMp6KoaveWVNsE"
                                data-label="Update CC details">
                            </script>
                        {% else %}
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_rYhRKdREwHaMp6KoaveWVNsE"
                                data-label="Add CC details">
                            </script>
                        {% endif %}

                    </form>
                </span>

                {% if default_source %}
                <!-- Remove current default source from user -->                                
                <form action="/home/profile/delete-card/" method="POST">
                    {% csrf_token %}
                    <input placeholder="Next" name="next" type="hidden" value="{{ request.path }}">
                    <input type="submit" class="btn btn-main" value="Delete CC"/>
                </form>
                {% endif %}
        </div>
    </div>
</div>