<div class="org-home-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 org-home-header">
            <h2>{{ org.title }}</h2> 
            <a href="{{request.path}}payment">Account Details</a>

        </div>
    </div>
        
        
            {% if org.sub_status_int < 4 %}
            
                {% include "../products/products-list.html" %}

            {% else %}

                {% include "../orgs/pay-home-body.html" %}
            
            {% endif %}
            

            {% include "./org-members-list.html" %}

        

</div>