{% load static %}
    <div class="row equal">
		<!--
		<div class="orgs-list">
			<h4>Teams</h4>
			<a href="/home/create-team/">
				<div class="orgs-list-item">
					<div class="orgs-list-image">
						<i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
					</div>

					<h3>
						New Team
					</h3>

					
				</div>
			</a>
			{% for org in user_orgs.all %}
				<a href="/home/team/{{ org.pk }}">
					<div class="orgs-list-item">
						<h3>
							{{ org.title }}
						</h3>
					</div>
				</a>

			{% endfor %}
		</div>
	-->

		<table class="col-md-8 col-md-offset-1 orgs-list" id="orgs-list">
		  <tr>
		    <th><h4>Team</h4></th>
		    <th><h5>Members</h5></th> 
		    <th><h5>Products</h5></th>
		    <th><h5>Features</h5></th>
		    <th><h5>Questions</h5></th>
		    <th><h5>Responses</h5></th>
		  </tr>
		{% for org_obj in user_orgs %}
		  
		  <tr class="org-object clickable-row" data-href="/home/team/{{ org_obj.org.pk }}">
		    <td>{{ org_obj.org.title }}</td>
		    <td>{{ org_obj.stats.members_count }}</td>
		    <td>{{ org_obj.stats.products_count }}</td>
		    <td>{{ org_obj.stats.features_count }}</td>
		    <td>{{ org_obj.stats.questions_count }}</td>
		    <td>{{ org_obj.stats.responses_count }}</td>
		  	</a>
		  </tr>
		
		{% endfor %}
		</table>


	</div>

