{% load static %}
    <div class="row equal">
		<div class="orgs-list">
			<h4>Teams</h4>
			<a href="/home/create-team/">
				<div class="orgs-list-item">
					<h3>
						New Team
					</h3>

					<div class="orgs-list-image">
						<i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
					</div>
				</div>
			</a>
			{% for org in user_orgs.all %}
				<a href="/home/team/{{ org.pk }}">
					<div class="orgs-list-item">
						<h3>
							{{ org.title }}
						</h3>
					</div>
				</a>

			{% endfor %}
		</div>
	</div>

